{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "corejs": { "version": "3.6.5", "proposals": true }
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]]
}
